* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Assistant", sans-serif;
    min-width: 360px;
    max-width: 1366px;
    color: #071c4d;
}

// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -9px !important;
    margin-right: -34px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071c4d;
    color: #fff;

    &:hover {
        background-color: rgb(7, 40, 117);
        color: #fff;
    }
}

// Header

header {
    padding: 180px 0 165px;
    margin: -70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/header.jpg");
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #ffa51e;
        color: #fff;
        font-weight: bold;

        &:hover {
            background-color: #e0921c;
            color: #fff;
            font-weight: bold;
        }
    }
}

// Statistics

.section-stats {
    margin-top: 20px;

    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// Popular

.section-popular {
    min-height: 540px;
    margin-right: 0;
    margin-top: -48px;
    margin-bottom: -230px;
    background-color: #071c4d;
}

.section-popular-heading {
    margin-top: 150px;

    h2,
    p {
        color: #fff;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            min-width: 260px;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
            display: block;
        }

        .travel-country {
            font-size: 18px;
            color: #fff;
        }

        .travel-location {
            font-size: 18px;
            color: #fff;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #ffa51e;
                color: #fff;

                &:hover {
                    background-color: #d3891a;
                    color: #fff;
                }
            }
        }
    }
}

.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 40px;

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background-image: linear-gradient(#fff 0%, #c5c5c9 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-weight: bold;
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 200px;
        }

        .trip-to {
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-get-started {
        background-color: #ffa51e;
        color: #fff;
        font-weight: bold;

        &:hover {
            background-color: #e0921c;
            color: #fff;
            font-weight: bold;
        }
    }

    .btn-need-help {
        background-color: #eeeeee;
        color: #c3c3c3;
        font-weight: bold;

        &:hover {
            background-color: #f3f3f3;
            color: #9b9a9a;
            font-weight: bold;
        }
    }
}

.section-footer {
    a {
        color: #071c4d;
    }
}

.section-details-header {
    min-height: 310px;
    background-color: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071c4d;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
            font-weight: 600;
        }

        h2 {
            font-size: 20px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }

        h3 {
            font-weight: 600;
            font-size: 14px;
            color: #071c4d;
        }

        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-blue {
                font-weight: bold;
                color: #071c4d;
            }

            .text-orange {
                font-weight: bold;
                color: #ffa51e;
            }
        }

        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    font-weight: bold;
                    color: #071c4d;
                    margin-bottom: 0;
                }

                .bank-image {
                    width: 45px;
                    height: 45px;
                    float: left;
                    margin-top: 10px;
                    margin-right: 10px;
                }

                p {
                    margin-bottom: 10px;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071c4d;
                    }
                }
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now {
            background-color: #071c4d;
            color: #fff;

            &:hover {
                background-color: #0d328a;
                color: #fff;
            }
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;
            margin-bottom: 10px;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #1abc9c;
                box-shadow: none;
            }
        }
    }

    .members {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .btn-join-now {
        background-color: #ff9e53;
        color: #fff;
        border-radius: 0;

        &:hover {
            background-color: rgb(236, 121, 33);
            color: #fff;
        }
    }
}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: #fff;

        &:hover {
            border-radius: 4px;
            background-color: #143c9b;
            color: #fff;
        }
    }
}
